<div class="NameComponent">
	<h1>Welcome to the exams king game!</h1>
	<img src="assets/beautiful-royal-crown.png" style="width: 20%" alt="" />
	<br />
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="name-input-addon">Enter your name</span>
		</div>
		<input type="text" class="form-control" placeholder="Elizabeth" [(ngModel)]="this.highscoreService.name"
			aria-label="Name" aria-describedby="name-input-addon">
	</div>
	<button [disabled]="this.highscoreService.name == '' ? true : false" class="btn btn-primary" routerLink="/game">Continue
		<span [hidden]="this.highscoreService.name==''"> and become king/queen {{this.highscoreService.name}}</span></button>
</div>
