.GameComponent
{
	margin: 0 auto;
	width: 80%;
	background-color: white;
	padding: 1em;
}

.multipleChoiceList
{
	list-style-type: upper-alpha;
}

.multipleChoiceList li
{
	height: 2.5em;
}

.solution h2
{
	color: red;
}

.solution-checkbox
{
	width: 1em;
	height: 1em;
}

.reward
{
	text-align: center;
}

@media only screen and (max-width: 600px)
{
	.GameComponent
	{
		width: 100%;
	}
}
